[submodule "libs/gsi"]
	path = libs/gsi
	url = ../Lib.PHP.git
[submodule "libs/smj"]
	path = libs/smj
	url = ../../sanmadjack/SiteLibs.git
[submodule "libs/wideimage"]
	path = libs/wideimage
	url = https://github.com/spekkionu/wideimage.git
